body {
    background-color: black;
    text-align: center;
    margin: 0 auto;

}

.text{
    font-family: 'Roboto', sans-serif;

    color: white;
    font-size: 100px;
    margin: 0 auto;

}

a:link{
    font-size: 300px;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
}

a:visited{
    color: inherit;
}

.light{ 
    font-family: 'Poiret One', cursive;
    color: white;
    
}

.light:hover{
    text-shadow: 0 0 80px white, 0 0 30px gainsboro;
}

.color{
    color: white;
    font-family: 'Righteous', cursive;
    font-weight: bolder;
    
}

.color:hover{
    animation: colorflash 2s infinite linear;
}


@keyframes colorflash {
    0%   {color: tomato}
    25%  {color: darkkhaki}
    45%  {color: rgb(196, 86, 154)}
    50%  {color: darkviolet}
    62%  {color: orange}
    75%  {color: lightgreen}
    80% {color: mediumturquoise}
    90% {color: pink}
    100% {color: palevioletred}
}

@-webkit-keyframes colorflash{
    0%  {color: tomato}
    25%  {color: darkkhaki}
    45%  {color: rgb(196, 86, 154)}
    50%  {color: darkviolet}
    62%  {color: orange}
    75%  {color: lightgreen}
    80% {color: mediumturquoise}
    90% {color: pink}
    100% {color: palevioletred}
}