
body {
    font-family: 'Roboto', sans-serif;
    animation: colorflash 3s infinite linear;
    align-content: center;
    background: url(https://i.pinimg.com/originals/30/52/13/3052136d9b22f4bb60d8457821d81290.gif);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}


.text1 {
    color: white;
    padding-left: 20px;
    font-size: 30px;

}

.text2{
    color: white;
    display: flex;
    padding-left: 10px;
    font-size: 100px;
  
    
}

@keyframes float{
    0% {
        transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

a:link{
    color: inherit;
    text-decoration: none;
    animation: float 2s infinite linear;
}

a:visited{
    color: inherit;
}
