html{
    height: 100%
}
body{
    background: url(https://i.gifer.com/77Y.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: black;
    display:flex;
    align-items:center;
    min-height: 100%;
    flex-direction: column;
    justify-content: center;
}

.text{
    text-align: center;
    padding: 20px;
    color:white;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;

}

a:link{
    font-size: 100px;
    color: inherit;
    text-decoration: none;
}
a:visited{
    color: inherit;
}

.text2{
    animation: wave 3s ease-in-out infinite;
    color:white;
    font-family: 'Poiret One', cursive;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: -10px;
}


@keyframes wave{
        0%, 50%, 100% { 
        transform: translateY(0);
         opacity: 0;
        }
        10% { 
        transform: translateY(-15px); 
        color: white;
        opacity: 100;
        }  
      }

/* 
@keyframes skew {
	0% {transform: skewX(0deg)}
	25% {transform: skewX(20deg)}
    50% {transform: skewX(0deg)}
    75% {transform: skewX(-20deg)}
	100% {transform: skewX(0px);}
} */