body{
    background-color: black;
}

.text{
    padding: 20px;
    color:white;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;

}
a:link{
    font-size: 100px;
    color: inherit;
    text-decoration: none;
}
a:visited{
    color: inherit;
}

.text:hover{
    animation: float 4s infinite linear;
}



@keyframes float {
	0% {
        transform: translatey(0px);
	}
	50% {
		transform: translatey(400px);
	}
	100% {
		transform: translatey(0px);
	}
}