html{
    height: 100%
}

body{
    background: url(https://pbs.twimg.com/media/EJb01ayXsAEtcxs.jpg);
    background-size: cover;
    padding: 30px;
    display:flex;
    align-items:center;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
}

.text{
    color:white;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;

}

a:link{
    color:inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Poiret One', cursive;

}
a:visited{
    color:inherit;
}

.tragedy {   
    color:white;
    font-size: 200px;
    animation: wave 3s ease  infinite;
 }

.tragedy span:nth-child(1){ animation-delay:0s;}
.tragedy span:nth-child(2){ animation-delay:.1s;}
.tragedy span:nth-child(3){ animation-delay:.2s;}
.tragedy span:nth-child(4){ animation-delay:.3s;}
.tragedy span:nth-child(5){ animation-delay:.4s;}
.tragedy span:nth-child(6){ animation-delay:.5s;}
.tragedy span:nth-child(7){ animation-delay:.6s;}


@keyframes wave{
    0%, 40%, 100% { 
      transform: translate(0, 0);
      
    }
    10% { 
      transform: translate(0, 300px); 
       
    }  
  }


